:root {
    --text-colour:rgb(24, 4, 95);
    --accent-colour:#49b0fa;
    --background-colour:white;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--text-colour);
    font-family: 'Courier New', Courier, monospace;
  }

body {
    background-color: var(--background-color);
    margin:0;
  }
